.delivery-banner {
  background-image: url(../img/delivery/delivery__banner.webp);
}
.banner {
  background-position: center;
}
.top__title {
}
.delivery-banner-text {
  text-align: center;
  margin-top: 118px;
}

.delivery-nav {
  width: 217px;
}
