@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-MediumItalic.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "RalewayVar";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}
