@font-face {
    font-family: "Montserrat";
    src: url(../fontsOr/Montserrat-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fontsOr/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fontsOr/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Raleway";
    src: url(../fontsOr/Raleway-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url(../fontsOr/Raleway-MediumItalic.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url(../fontsOr/Raleway-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "RalewayItalic";
    src: url(../fontsOr/Raleway-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url(../fontsOr/Raleway-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: "RalewayVar";
    src: url(../fontsOr/Raleway-VariableFont_wght.ttf);
}
