.mainPage {
  overflow-x: hidden;
}

.header {
  width: 100%;
}
.burger-menu {
  display: none;
}
.header__mobile {
  display: none;
}

.header__top-wrapper {
  background: rgba(245, 245, 245, 0.5);
  width: 100%;
}
.header__top {
  max-width: 1285px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.header__socials-wrapper {
  margin-top: -7px;
  margin-left: -4px;
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__social {
}
.header__top-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: rem(14);
  line-height: lh(17, 14);
  color: #337d5a;
  text-align: center;
  margin-left: 25px;
  letter-spacing: initial;
  margin-top: 11px;
}
.header__top-right {
  padding-left: 22px;
  display: flex;
  align-items: center;
  margin-top: -4px;
  width: 100%;
  justify-content: flex-start;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: rem(13);
  line-height: lh(15, 13);
  letter-spacing: 0.02em;

  color: #000000;
  p {
    position: relative;
    transition: 0.3s;
  }
  p:hover:after {
    content: "";
    width: 1px;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #93b474;
    transition: 0.3s;
  }
}
.header__autorize {
  margin-right: 7px;
}
.header__enter-wrapper {
  display: flex;
  align-items: center;
}
.header__enter {
}
.header__reg {
  margin-left: 27px;
}
.header__lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(48px);
  width: 30px;
}

.header__center {
  max-width: 1285px;
  margin: 0 auto;
  display: flex;
}
.header__logo-wrapper {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  transform: translate(0px, 9px);
}
.header__logo {
  transform: translate(-3px, -3px);
}
.header__logo-text {
  flex-basis: 136px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: rem(15);
  line-height: lh(18, 15);
  letter-spacing: 0.02em;
  color: #1a2f3f;
}
.header__center-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 114px;
  margin-left: 326px;
}
.header__center-social {
}
.header__phones {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: rem(13);
  margin-left: 31px;
  line-height: 0;
  padding-top: 13px;
  color: #8a8a8a;
}
.header__phone-1 {
  margin-bottom: 21px;
  span {
    color: #337d5a;
  }
}
.header__phone-2 {
  span {
    color: #337d5a;
  }
}
.header__btn-info-wrapper {
  padding-top: 16px;
  margin-left: 93px;
  display: flex;
  flex-direction: row;
}
.green-btn {
  width: 148px;
  height: 42px;
  background: #337d5a;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: rem(13);
  line-height: lh(15, 13);
  letter-spacing: 0em;
  color: #ffffff;
  border: none;
}
.header__btn {
  padding-left: 5px;
}
.header__btn-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: rem(12);
  letter-spacing: 0.02em;
  color: #8a8a8a;
  width: 166px;
  line-height: 1;
  margin-left: 15px;
  margin-top: 10px;
}
.header__basket {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(38px, 3px);
}

.header__bottom-wrapper {
  width: 100%;
  position: relative;

  display: inline-block;
  margin-top: 14px;
  padding-top: 9px;
}

.header__bottom-wrapper::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
.header__bottom {
  max-width: 1206px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.header__link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: rem(15);
  line-height: lh(18, 15);
  letter-spacing: 0.02em;
  position: relative;
  color: #1a2f3f;
}

.header__link:hover::after {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 120%;
  left: -10%;
  border-bottom: 2px solid #337d5a;
}

.header__link:nth-of-type(1) {
  transform: translate(1px);
}

.header__link:nth-of-type(2) {
  transform: translate(-2px);
}

.header__link:nth-of-type(3) {
  transform: translate(-4px);
}

.header__link:nth-of-type(4) {
  transform: translate(0px);
  letter-spacing: 0.01em;
}

.header__link:nth-of-type(5) {
  transform: translate(3px);
}

// Small pc orientation
@media screen and (max-width: 1350px) {
  .header__top {
    max-width: 912px;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .header__lang {
    transform: none;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .header__lang-name {
    img {
      margin-left: 2px;
    }
  }

  .header__center {
    max-width: 912px;
  }

  .header__center-socials {
    width: 103px;
    margin-left: 50px;
  }

  .header__phones {
    margin-left: 31px;
  }

  .header__btn-info-wrapper {
    margin-left: 43px;
  }
  .header__basket {
    transform: translate(3px, 3px);
  }

  .header__bottom {
    max-width: 912px;
  }
}

@media screen and (max-width: 1023px) {
  .header__top {
    max-width: 760px;
  }
  .header__center {
    max-width: 760px;
    justify-content: center;
  }

  .header__btn-text {
    display: none;
  }

  .header__basket {
    transform: translate(25px, 3px);
  }

  .header__bottom {
    max-width: 760px;
  }

  .header__link {
    font-size: 0.8375rem;
  }
}

@media screen and (max-width: 784px) {
  .header__top {
    max-width: 550px;
  }

  .header__phones {
    display: none;
  }

  .header__basket {
    transform: translate(5px, 3px);
  }

  .header__bottom {
    max-width: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .header__link {
    text-align: center;
  }

  .header__link:nth-of-type(1),
  .header__link:nth-of-type(2),
  .header__link:nth-of-type(3),
  .header__link:nth-of-type(4),
  .header__link:nth-of-type(5),
  .header__link:nth-of-type(6) {
    transform: translate(0px);
  }
}

@media screen and (max-width: 576px) {
  .header {
    position: relative;
  }
  .header-before-mobile {
    display: none;
  }

  .header__mobile {
    display: block;
    width: 100%;
  }
  .header__top_mobile {
    background: #fafafa;
    position: relative;
    max-width: 100%;
    display: flex;
  }
  .header__phone-mobile {
    align-items: center;
    display: flex;
    flex-basis: 33.333%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: rem(12);
    line-height: lh(15, 12);
    color: black;
    margin-left: 12px;
    flex-grow: 2;
    margin-top: -1px;
    p {
      margin-left: 6px;
    }
    span {
      color: #337d5a;
    }
  }
  .header__top-text_mobile {
    display: flex;
    flex-basis: 33.333%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: rem(13);
    line-height: lh(15, 13);
    flex-grow: 1;
    letter-spacing: 0.01em;
    margin-left: 1px;
    margin-top: 12px;
    color: #337d5a;
    background: none;
    border: none;
    padding: 0;
    position: relative;
  }

  .header__top-text_mobile:hover::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 77%;
    height: 1px;
    background-color: #337d5a;
  }
  .header__lang_mobile {
    height: 38px;
    border: 1px solid #93b474;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
    width: 51px;

    .header__lang-name_mobile {
      margin-left: 1px;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.02em;
      color: #000000;
    }
    .header__lang-arrow {
      transform: translate(3px, 1px);
    }
  }

  .header__top-text_mobile {
  }

  .header__center_mobile {
    width: 100%;
    display: flex;
    align-items: center;
    width: 93.5%;
    margin: 0 auto;
  }
  .burger-trigger {
    flex-basis: 33.333%;
    margin-left: auto;
  }
  .header__logo_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: rem(11);
    line-height: lh(13, 11);
    text-align: center;
    letter-spacing: 0.02em;
    flex-basis: 33.333%;
    transform: translate(0, 10px);
    color: #1a2f3f;

    img {
      width: 29px;
      height: 28px;
    }
  }
  .logo_mobile {
  }
  .header__logo_text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: rem(11);
    line-height: lh(13, 11);
    text-align: center;
    letter-spacing: 0.02em;
    color: #1a2f3f;
    transform: translate(2px, -5px);
  }
  .header__bag-mobile {
    flex-basis: 33.333%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 7px;
    transform: translate(2px, 0);
    padding-left: -4px;
  }

  .burger-menu__top {
    display: flex;
    justify-content: space-between;
  }

  .burger-menu__logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 11px;
    margin-top: 3px;
    flex-basis: 50%;
    .logo_mobile {
      width: 34px;
      height: 33px;
      transform: translate(0, -7px);
    }

    .header__logo_text {
      width: 134px;
      text-align: left;
      margin-top: 9px;
      margin-left: 6px;
      font-size: rem(12);
      line-height: lh(14, 12);
    }
  }

  .burger-menu__close {
    display: flex;
    align-items: center;
    transform: translate(-11px, 3px);
  }

  .burger-menu__center {
    background: #fafafa;
    display: flex;
    height: 42px;
    margin-top: 6px;
  }

  .header__enter-wrapper {
    margin-left: 10px;
    margin-top: 0px;
    img {
      margin-right: 6px;
      width: 13px;
      height: 13px;
    }

    .header__enter {
      position: relative;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 500;
      font-size: rem(14);
      line-height: lh(16, 14);
      letter-spacing: 0.02em;
      color: #323232;
    }
  }

  .header__reg {
    position: relative;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: rem(14);
    line-height: lh(16, 14);
    letter-spacing: 0.02em;
    color: #323232;
  }

  .header__socials-wrapper {
    margin-top: 1px;
    display: flex;
    margin-left: auto;
    transform: translate(-20px);
    img:first-of-type {
      width: 15px;
      height: 15px;
      transform: translate(-1px);
    }

    img:nth-of-type(2) {
      width: 15px;
      height: 15px;
      transform: translate(3px);
    }

    img:nth-of-type(3) {
      width: 18px;
      height: 18px;
      transform: translate(9px);
    }
  }

  .header__reg:hover:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    border: 1px solid #93b474;
  }

  .header__enter:hover:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    border: 1px solid #93b474;
  }

  .burger-menu__bottom {
  }
  .header__bottom {
    display: block;
  }
  .header__link {
    display: block;
    width: 100%;
    height: 47px;
  }

  .header__bottom {
    max-width: 100%;
    margin-top: 4px;
    box-sizing: border-box;
  }

  .header__link {
    margin: 0;
    line-height: 0;
    display: block;
    width: 100%;
    height: 47px;
    text-align: left;
    font-size: 15px;
    margin-bottom: -1px;
    transition: 0.3s;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
      margin-left: 12px;
    }
  }

  .header__link:hover {
    background: #337d5a;
    color: #ffffff;
    transition: 0.3s;
  }

  .header__link:hover:after {
    content: "";
    display: none;
  }

  .header__link:nth-of-type(1),
  .header__link:nth-of-type(2),
  .header__link:nth-of-type(3),
  .header__link:nth-of-type(4),
  .header__link:nth-of-type(5),
  .header__link:nth-of-type(6) {
    transform: translate(0px);
  }

  .burger-menu {
    display: block;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
  }

  .burger-menu.active {
    opacity: 1;
    z-index: 1;
    pointer-events: none;
    transition: 0.3s;
    pointer-events: all;
  }

  .header__mobile.disabled {
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }
}
