.itemPage {
}

.slide-section {
  width: 100%;
  display: inline-block;
}
.slide-content {
  width: 1290px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 42.8% 50%;
  column-gap: 6%;
  position: relative;
}
.slide-section-left {
}
.slide-section-right {
}

.item-info {
  left: 0;
  top: 0;
  color: grey;
  top: 31px;
  width: 202px;
  grid-column: 1/3;
}

.slide-section-left,
.slide-section-right {
  margin-top: 134px;
}

.item-info__img {
  width: 550px;
  height: 571px;
  background: #fcfcfc;
  border: 1.5px solid #93b474;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  box-sizing: border-box;
  position: relative;
  img {
    transition: 0.3s all;
  }
}

.item-info__img:hover {
  img {
    transition: 0.3s all;
    transform: scale(1.2);
  }
}
.item-info__img:hover:after {
  position: absolute;
  top: 10px;
  right: 14px;
  content: url(../img/item-info/zoom.webp);
  width: 50px;
  height: 50px;
}
.nut_long {
}
.item-info__card {
  width: auto;
  height: auto;
  .left-arrow {
    left: 21px;
    top: 47.5%;
  }
  .right-arrow {
    top: 49.5%;
    right: 20px;
  }
}
.item-info__top-text-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.item-info__top-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: em(18, 16);
  line-height: lh(21, 18);
  text-align: center;
  letter-spacing: 0.01em;
  color: #337d5a;
}
.item-info__top-subtext {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: lh(20, 16);
  text-align: center;
  letter-spacing: 0.01em;
  color: #5b5b5b;

  transform: translate(17px, 3px);
}

.slide-section-right {
  margin-top: 113px;
}

.item-info__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: em(30, 16);
  line-height: lh(32, 30);
  letter-spacing: 0.01em;
  color: #1a2f3f;
  width: 500px;
  margin-top: 0px;
}

.item-info__center-chars-wrapper {
  margin-top: -4px;
}
.item-info__center-char-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.item-info__center-char-wrapper:first-of-type {
  .item-info__center-descr {
    width: 58%;
    font-size: 0.9375em;
    line-height: 1.3625;
  }
}
.item-info__center-char-wrapper:nth-of-type(2) {
  width: 47%;
  margin-top: -4px;
}
.item-info__center-char-wrapper:nth-of-type(3) {
  margin-top: 8px;
  width: 53.5%;
}
.item-info__center-char-wrapper:nth-of-type(4) {
  margin-top: 9px;
  width: 90%;
  .item-info__center-descr {
    width: 53%;
    font-size: 0.9375em;
    line-height: 1.3625;
  }
}
.item-info__center-tagline {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: lh(17, 16);
  letter-spacing: 0.02em;
  color: #000000;
}
.item-info__center-descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: em(15, 16);
  line-height: lh(17, 16);
  color: #5b5b5b;
}

.item-info__important-wrapper {
  margin-top: 40px;
  width: 660px;
  height: 109px;
  background: #fcfcfc;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 22px 0 0 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0 0 16px;
  justify-content: flex-start;
  margin-top: 20px;

  img {
    margin-top: -27px;
  }
}
.item-info__warning-text {
  width: 90%;
  margin-left: 27px;
  margin-top: -7px;
  line-height: 1.4625;
}

.item-info__price-wrapper {
  margin-left: 196px;
  margin-top: 38px;
  width: 467px;
  margin-top: 23px;
}
.item-info__price-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: em(18, 16);
  line-height: lh(22, 18);
  letter-spacing: 0.01em;
  color: #1a2f3f;

  display: inline-block;
}
.item-info__price-num {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: lh(29, 24);
  letter-spacing: 0.01em;
  color: #337d5a;
}
.item-info__price-val_1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: lh(20, 16);
  letter-spacing: 0.01em;
  color: #337d5a;
  margin-left: -4px;
}
.item-info___price-num-crossed {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: lh(22, 18);
  letter-spacing: 0.01em;
  color: #8a8a8a;
  text-decoration: line-through;
  margin-left: 3px;
  margin-left: 7px;
}

.item-info__price-val_2 {
  text-decoration: line-through;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: em(14);
  line-height: lh(17, 14);
  letter-spacing: 0.01em;
  color: #8a8a8a;
}

.item-info__btn {
  width: 190px;
  height: 52px;
  margin-left: 30px;
  background: #337d5a;
  border: 1px solid #337d5a;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  margin-left: 33px;
  margin-top: 6px;
  transform: translate(0, 2px);
  color: #ffffff;
}
.item-descr {
  position: relative;
  width: 100%;
  display: inline-block;
}
.item-descr__hor-line {
  border: 1px solid rgba(0, 0, 0, 0.08);
  position: absolute;
  width: 100vw;

  top: 127px;
}
.item-descr__titles-wrapper {
  width: 717px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  margin-top: 71px;
}
.item__descr__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: em(18);
  line-height: 21px;

  color: #5b5b5b;
}
.item__descr__title:nth-of-type(2) {
  transform: translate(6px);
}
.item__descr__title:nth-of-type(3) {
  transform: translate(8px);
}
.item__descr__title:nth-of-type(1) {
  color: #1a2f3f;
  position: relative;
}
.item__descr__title:nth-of-type(1)::after {
  content: "";
  position: absolute;
  bottom: -84%;
  left: -33%;
  width: 161%;
  border: 2px solid #337d5a;
}
.item-descr__descrs-wrapper {
  width: 1290px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 70%;
}
.item-descr__descrs-img {
}
.item-descr__descr-wrapper {
}

.item-descr__descrs-wrapper {
  grid-template-columns: 36.3% 1fr;
  margin-top: 54px;
}

.item-descr__descr-wrapper {
  margin-top: -10px;
}
.item-descr__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #1a2f3f;
  span {
    color: #337d5a;
    font-weight: 600;
  }
}
.item-descr__text:first-of-type {
  width: 91%;
}

.item-descr__list-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: em(15);
  line-height: lh(16, 15);
  color: #1a2f3f;
  letter-spacing: 0.001em;
}
.item-descr__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: em(15);
  color: #1a2f3f;
  margin-left: 15px;
  line-height: 1.966667;
}

.item-descr__list-wrapper {
  .article__round {
    width: 5px;
    height: 5px;
    background: #93b474;
  }
  .article__item:nth-of-type(4) {
    margin-top: -33px;
  }
}

.item-descr__list-wrapper:nth-of-type(2) {
  margin-top: -17px;
}
@media screen and (max-width: 1439px) {
  .slide-content {
    width: 912px;

    grid-template-columns: 1fr;
  }
  .item-info.navigation-comp {
    grid-column: 1/2;
  }

  .slide-section-left {
    margin-top: 84px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .item-info__img {
    max-height: 471px;
    width: 508px;

    img {
      max-height: 70%;
    }
  }
  .item-info__card {
    width: 510px;
  }
  .item-info__center-char-wrapper:nth-of-type(2),
  .item-info__center-char-wrapper:nth-of-type(3),
  .item-info__center-char-wrapper:nth-of-type(4) {
    width: 100%;
    transform: none;
    .item-info__center-descr {
      width: 58%;
      transform: none;
    }
  }

  .item-info__price-wrapper {
    margin-left: 0;
  }
}
@media screen and (max-width: 1023px) {
  .slide-content {
    width: 760px;
    width: 550px;
  }

  .slide-section-right {
    margin-top: 70px;
  }

  .item-info__important-wrapper {
    width: 100%;
  }

  .item-descr__titles-wrapper {
    width: 550px;
  }
}

@media screen and (max-width: 767px) {
  .slide-content {
    width: 300px;
  }
  .slide-section-left {
    margin-top: 40px;
  }

  .item-info__card {
    width: 300px;
  }

  .item-info__img {
    width: 300px;
    height: 300px;
  }

  .slide-section-right {
    font-size: 15px;
  }

  .item-info__top-text-wrapper {
    font-size: 15px;
  }

  .item-info__title {
    width: 100%;
  }

  .item-info__important-wrapper {
    min-height: 218px;
  }

  .item-info__price-wrapper {
    width: 100%;
    margin-top: 0;
    margin: 0 auto;
    text-align: center;
  }

  .item-info__btn {
    display: block;
    margin: 0 auto;
  }
  .item-descr__titles-wrapper {
    width: 300px;
    font-size: 13px;
    margin-top: 35px;
  }
  .item__descr__title:nth-of-type(2) {
    transform: translate(0px);
  }
  .item__descr__title:nth-of-type(3) {
    transform: translate(0px);
  }
  .item__descr__title:nth-of-type(1) {
    color: #1a2f3f;
    position: relative;
  }
  .item__descr__title:nth-of-type(1)::after {
    content: "";
    position: absolute;
    bottom: -25%;
    left: -5%;
    width: 110%;
    border: 1px solid #337d5a;
  }
}
