* {
  // border: 1px solid red;
}
.mainPage-top-section {
  margin-bottom: 83px;
}
.top {
  background-image: url(../img/mainPage/nuts-garden.webp);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 600px;

  background-size: cover;

  display: inline-block;
}
.top__body-text {
  width: 100%;
  text-align: center;
}
.mainPage-top {
  margin-top: 195px;
}
.top__title {
  font-family: "RalewayL";
  font-style: normal;
  font-weight: 800;
  font-size: rem(62);
  line-height: lh(73, 62);
  letter-spacing: 0.01em;
  color: #ffffff;
}
.top__descr {
  font-family: "RalewayL";
  font-style: normal;
  font-weight: 600;
  font-size: rem(25);
  line-height: lh(29.35, 25);
  text-align: center;
  letter-spacing: 0.01em;

  color: #ffffff;
  width: 600px;
  margin: 0 auto;
  margin-top: -29px;
}

.mainPage-play {
  margin: 0 auto;
  margin-top: 40px;
}

.play {
  text-align: center;
}

.article-title {
  font-family: "RalewayL";
  font-style: normal;
  font-weight: 800;
  font-size: rem(45);
  line-height: lh(53, 45);
  letter-spacing: 0.01em;
  color: #1a2f3f;
}
.article-descr {
  font-family: "RalewayL";
  font-style: normal;
  font-weight: 600;
  font-size: rem(16);
  line-height: lh(19, 16);
  letter-spacing: 0.01em;
}
.information {
  width: 100%;
  min-height: 672px;

  background: #fbfbfb;
  margin-top: 89px;
}
.information__body {
  display: grid;
  width: 1290px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}
.information__column {
  width: 100%;
}
.information__column:nth-of-type(1) {
  width: 77%;
}

.information__title {
  margin-top: 127px;
}
.information__descr {
  letter-spacing: 0.001em;
}
.information__descr_top {
  color: #337d5a;
}
.information__descr_1 {
  line-height: 1.57;
  color: #337d5a;
}
.information__descr_2 {
  color: #1a2f3f;
}
.information__descr_bottom {
  margin-top: 25px;
  width: 105%;
}
.information__btn {
  width: 170px;
  height: 52px;
  left: 315px;
  top: 2893px;
  border: 1.5px solid #337d5a;
  font-family: "RalewayL";
  font-style: normal;
  font-weight: 700;
  font-size: rem(14);
  line-height: lh(16, 14);
  letter-spacing: 0.02em;
  color: #337d5a;
  background: transparent;
  margin-top: 31px;
}

.article-descr {
  letter-spacing: 0.001em;
  line-height: 1.57;
}

.swiper-video {
  margin-top: 100px;
  position: relative;
  .swiper-wrapper {
    width: 700px;
    height: 472px;
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
  }
  video {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .swiper-button-vid-prev {
    background-color: #337d5a;
    background-image: url(../img/mainPage/right-arrow-white.svg);
    transform: rotate(180deg);
    width: 70.5px;
    height: 59px;
    background-position: center 10px;
    position: absolute;
    left: 1px;
    bottom: 0;
    z-index: 1;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .swiper-button-vid-next {
    background-color: #337d5a;
    background-image: url(../img/mainPage/right-arrow-white.svg);
    background-repeat: no-repeat;
    width: 70.5px;
    height: 59px;
    background-position: center center;
    position: absolute;
    left: 70.5px;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
  }
}

.goal {
  background-image: url(../img/mainPage/man-with-potato.webp);
  width: 100vw;

  background-size: cover;
  background-repeat: no-repeat;

  min-height: 740px;
  display: inline-block;
}
.mainPage-goal {
  margin-top: 87px;
}
.goal__content {
  width: 1150px;
  margin: 241px auto 0;
}
.goal__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: rem(45);
  line-height: lh(53, 45);
  text-align: center;
  letter-spacing: 0.01em;

  color: #ffffff;
}
.goal-play {
  img {
    transform: translate(-9px, 26px);
  }
}
.play {
}
.gaol__proposal {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  font-size: rem(24);
  line-height: lh(28, 24);
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 49px;
  color: #ffffff;
}

.benefit {
  margin: 0 auto;
  margin-top: 84px;
  .center-text_descr {
    width: 602px;
    margin: 0 auto;
    word-spacing: -1px;
    margin-top: -15px;
    line-height: 1.4;
  }
  .center-text_title {
    text-align: center;
  }
}

.benefit__body {
  display: flex;
  justify-content: space-between;
  width: 1290px;
  margin: 0 auto;
  margin-top: 65px;
}
.benefit__item {
  width: 410px;
  height: 525px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.benefit__item:first-of-type {
  background-image: url(../img/mainPage/walnut.webp);
  img {
    transform: translate(0, 37px);
  }
}
.benefit__item:nth-of-type(2) {
  background-image: url(../img/mainPage/hazelnut.webp);
  img {
    margin-top: 59px;
    margin-left: 8px;
  }
  .walnut-name {
    transform: translate(0px, -19px);
  }
}
.benefit__item:last-of-type {
  background-image: url(../img/mainPage/rose-hip.webp);
  img {
    margin-top: 59px;
    margin-left: -17px;
  }

  .walnut-name {
    transform: translate(0px, -21px);
  }
}
.Walnut-icon {
}
.walnut-name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: rem(40);
  line-height: lh(47, 40);
  letter-spacing: 0.01em;
  color: #ffffff;
}
.benefit__item:hover {
  transition: 0.3s;

  .benefit__hover-content {
    padding-top: 45px;
    opacity: 0.95;
  }
}
.benefit__hover-content {
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  left: 0;
  background-color: #317856;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 23px;
  img {
    transform: translate(5px, 39px) !important;
    margin: 0 !important;
  }
  .walnut-name {
    transform: translate(5px, 10px) !important;
  }
  .benefit__text-hover_top {
    width: 330px;
    transform: translate(0, -27px);
  }
  .benefit__text-hover_bottom {
    width: 296px;
    transform: translate(0, -44px);
  }
}
.Walnut-icon {
}

.benefit__text-hover {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: rem(18);
  line-height: lh(23, 18);
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.eco {
  width: 100vw;

  background-size: cover;
  background-repeat: no-repeat;
}
.mainPage-eco {
  margin-top: 50px;
  background-image: url(../img/mainPage/nuts-in-hands.webp);
  background-repeat: no-repeat;
  height: 740px;

  margin-top: 100px;
  display: inline-block;
  margin-bottom: 10px;
}
.eco__content {
  width: per(600, 1920);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  margin-top: 223px;
}

.goal__title {
  transform: translate(-6px);
}

.eco__descr {
  font-style: normal;

  margin-top: -22px;
  width: 121%;
  letter-spacing: -0.03em;
  word-spacing: 0px;
}
@media screen and (max-width: 1440px) {
  .information__body {
    width: 996px;
    grid-template-columns: 1fr;
  }
  .information__column {
    margin: 0 auto;
  }
  .statistic {
    width: 996px;
  }
  .statistic__content {
    padding: 0;
  }
  .goal__content {
    width: 100%;
  }
  .benefit__body {
    width: 996px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .benefit__item {
    margin-bottom: 15px;
  }
  .eco__content {
    width: 100%;
  }
  .eco__title {
    width: 100%;
    transform: none;
    text-align: center;
  }

  .eco__descr {
    width: 95%;
  }
}
@media screen and (max-width: 1023px) {
  .information__body {
    width: 760px;
  }
  .statistic {
    width: 760px;
  }
  .statistic__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .statistic__block {
    justify-self: center;
  }
  .statsistic__item_top {
    font-size: 4rem;
  }
  .statistic__block:first-of-type .statsistic__item_top::after {
    right: -12px;
  }
  .statistic__block:first-of-type .statistic__item_bottom {
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
  }
  .statistic__block:nth-of-type(2) .statsistic__item_top {
    margin-left: 0;
  }
  .statsistic__item_top::after {
    content: "Га";
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 1.1666666667;
    letter-spacing: 0.05em;
    vertical-align: text-top;
    color: #1a2f3f;
    top: 15px;
    position: absolute;
  }
  .statistic__block:nth-of-type(2) .statistic__item_bottom {
    font-size: 1rem;
    margin-left: 0;
  }
  .statsistic__item_top {
    text-align: center;
  }
  .statistic__block:nth-of-type(4) .statsistic__item_top::after {
    content: "%";

    right: 9px;
  }
  .statistic__block:nth-of-type(4) .statistic__item_bottom {
    transform: none;
  }
  .statistic__block:first-of-type .statsistic__item_top::after {
    right: 11px;
  }
  .statistic__block:nth-of-type(4) .statsistic__item_top::after {
    content: "%";
    right: 38px;
  }
  .benefit__body {
    width: 760px;
  }
}
@media screen and (max-width: 767px) {
  .top__title {
    font-size: 2.375rem;
  }
  .top__descr {
    width: 90%;
  }
  .production {
    .center-text__wrapper {
      width: 300px;
    }
  }
  .production__cards-wrapper {
    width: 300px;
  }
  .production__img {
    max-width: 100%;
    max-height: 100%;
  }
  .production__price-num {
    margin-left: 0;
    width: 100%;
    left: 0;
  }
  .production__price-wrapper {
    font-size: 0.8375rem;
  }
  .production__card.discont {
    .production__price-wrapper {
      width: 40%;
    }
  }
  .information__body {
    width: 300px;
    grid-template-columns: 300px;
  }

  .information__column {
    width: 100%;
  }

  .information__title {
    font-size: 1.8125rem;
  }
  .information__descr_bottom {
    width: 100%;
  }
  .information__column:nth-of-type(1) {
    width: 100%;
  }
  .statistic {
    width: 300px;
  }
  .statistic__content {
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
  .statistic__item_bottom {
    margin-left: 0;
    width: 100%;
  }
  .statistic__block:nth-of-type(3) .statistic__item_bottom {
    margin-left: 0;
    width: 100%;
  }
  .goal {
    width: 100%;
  }
  .goal__title {
    transform: none;
    font-size: 1.8125rem;
  }
  .benefit {
    .center-text_descr {
      width: 96%;
      margin: 0 auto;
    }
  }
  .benefit__body {
    width: 300px;
  }
  .benefit__hover-content {
    .benefit__text-hover {
      width: 98%;
    }
  }
  .eco__descr {
    margin-top: 0;
  }
}
