.news {
  width: 100vw;
  background: rgba(249, 249, 249, 0.7);
  display: inline-block;
}
.mainPage-news {
}
.news__content {
  margin: 0 auto;
  margin-top: 84px;
  width: per(1290, 1920);

  margin: 104px auto 0;
}
.news__top {
  display: flex;
  justify-content: space-between;
}
.news__text-wrapper {
  width: per(408, 1290);
  margin-top: -41px;
}
.news__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: rem(45);

  line-height: 0;

  letter-spacing: 0.01em;
  color: #1a2f3f;
}
.news__tagline {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: rem(18);
  line-height: lh(22, 18);
  text-align: center;
  letter-spacing: 0.01em;
  color: #1a2f3f;

  text-align: start;
  margin-top: 58px;
  word-spacing: -1px;
}
.news__arrows-block {
  width: per(141, 1290);

  height: 58px;

  background: #337d5a;
}
.news__arrows-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 11px;
  img:first-child {
    transform: translate(-4px, 2px);
  }
}
.news__center {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.news__bottom {
  margin-top: 47px;
}

.news__center {
  margin-top: 47px;
}
.news__item {
  background: white;
  // width: per(410, 1290);
  // width: 410px;
  // height: 532px;
  width: 100%;
  height: 100%;
  min-height: 532px;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
.news__img {
}
.news__date {
  width: per(50, 410);
  margin-left: 21px;
  margin-top: 21px;
}
.news__item-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: rem(16);
  line-height: lh(22, 16);
  letter-spacing: 0.01em;
  color: #1a2f3f;
  width: per(315, 410);
  margin-left: per(24, 410);
  margin-top: -5px;
  letter-spacing: -0.001em;
}
.news__item-descr {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: rem(14);
  line-height: lh(19, 14);
  letter-spacing: 0.01em;
  color: #1a2f3f;
  width: per(361, 410);
  margin: 0 auto;
  letter-spacing: -0.001em;
}
.news__redirect-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: per(76, 410);
  margin-left: 22px;
  margin-top: 10px;
}
.news__redirect-text {
  a:active {
    color: #337d5a;
  }
  a:hover {
    text-decoration: underline;
    color: #337d5a;
  }
}
.news__item-title_second {
  width: 87.829268%;
}
.news__item-title_third {
  letter-spacing: -0.03em;
}

.news__bottom {
  margin: 0 auto;
  margin-top: 70px;
  width: 225px;
  height: 52px;
  margin-bottom: 90px;
}
.news__btn {
  border: 1.5px solid #337d5a;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: rem(15);
  line-height: lh(18, 15);
  letter-spacing: 0.02em;
  color: #337d5a;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
