.whosale-top {
  .top {
    background-image: url(../img/wholesale/whosale-top-banner.webp);
    background-position: center;
  }

  .wholesalePage-play {
    display: none;
  }
}

.whosale-nav {
  width: 347px;
}

.wholesalePage-wrapper {
  margin-top: 240px;
}

.salePoint {
  width: 100%;
  display: inline-block;
}
.salePoint__content {
  width: per(1290, 1920);
  margin: 0 auto;
}
.salePoint__top-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: lh(24, 16);
  color: #1a2f3f;

  margin-top: 42px;
}
.salePoint__top-title {
  font-size: em(45, 16);
  line-height: lh(53, 45);
  letter-spacing: 0.01em;
}
.salePoint__top-text-wrapper {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #1a2f3f;
}

.salePoint__top-text-wrapper:first-of-type {
  width: 83%;
  margin-left: 90px;
  margin-top: 34px;
  .salePoint__top-text:nth-of-type(2) {
    margin-top: 24px;
    width: 102%;
    letter-spacing: 0.001em;
  }
}

.salePoint__top-text-wrapper:nth-of-type(2) {
  width: 86%;
  margin-left: 100px;
  margin-top: 34px;
  .salePoint__top-text:nth-of-type(1) {
    width: 90%;
  }
  .salePoint__top-text:nth-of-type(2) {
    margin-top: 25px;
    width: 79%;
  }
}
.salePoint__top-text {
  span {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: lh(25, 16);
  }
}

.salePoint__center-wrapper {
  display: flex;
  justify-content: space-between;
}
.salePoint__center-item-wrapper {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: em(20, 16);
  line-height: lh(23, 20);
  letter-spacing: 0.01em;
  color: #1a2f3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.salePoint__center-img {
}
.salePoint__center-item-text {
  width: 50%;
}

.salePoint__center-wrapper {
  margin-top: 97px;
}

.salePoint__center-item-wrapper {
  justify-content: flex-start;
}

.salePoint__center-item-text {
  margin-left: 19px;
}
.salePoint__center-item-wrapper:nth-of-type(1) {
  position: relative;
}
.salePoint__center-item-wrapper:nth-of-type(1)::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 73%;
  border: 3px solid #337d5a;
}
.salePoint__center-item-wrapper:nth-of-type(2) {
  transform: translate(7px);
}

.salePoint__center-item-wrapper:nth-of-type(3) {
  transform: translate(19px);
}

.salePoint__center-item-wrapper:nth-of-type(4) {
  transform: translate(54px);
}

.salePoint__center-item-wrapper:nth-of-type(5) {
  transform: translate(78px);
}

@media screen and (max-width: 1919px) {
  .whosale-nav {
    left: 10%;
  }

  .salePoint__top-wrapper {
    justify-items: center;
  }

  .salePoint__top-title {
    font-size: 2em;
  }
  .salePoint__top-text-wrapper:first-of-type,
  .salePoint__top-text-wrapper:nth-of-type(2) {
    transform: none;
  }
  .salePoint__center-item-wrapper:nth-of-type(2) {
    transform: none;
  }

  .salePoint__center-item-wrapper:nth-of-type(3) {
    transform: none;
  }

  .salePoint__center-item-wrapper:nth-of-type(4) {
    transform: none;
  }

  .salePoint__center-item-wrapper:nth-of-type(5) {
    transform: none;
  }
  .salePoint__center-wrapper {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1439px) {
  .whosale-nav {
    // top: 289px;
  }
  .salePoint__top-title {
    grid-column: 1/4;
    br {
      display: none;
    }
  }

  .salePoint__top-text-wrapper {
    grid-column: 1/4;
    width: 100%;
    margin-top: -5px;
  }
  .salePoint__top-text-wrapper:first-of-type,
  .salePoint__top-text-wrapper:nth-of-type(2) {
    margin-top: 0;
  }

  .salePoint__top-text-wrapper:nth-of-type(2) {
    width: 571px;
  }

  .salePoint__center-wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 996px;
  }

  .salePoint__center-item-wrapper {
    justify-content: center;
  }
  .salePoint__center-item-wrapper:nth-of-type(1)::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    border: 3px solid #337d5a;
  }
}

@media screen and (max-width: 1023px) {
  .whosale-nav {
    display: none;
  }

  .salePoint__content {
    width: 760px;
  }

  .salePoint__top-text-wrapper:first-of-type,
  .salePoint__top-text-wrapper:nth-of-type(2) {
    width: 90%;
    margin-left: 0;
  }

  .salePoint__top-text-wrapper:nth-of-type(2) {
    .salePoint__top-text:nth-of-type(1) {
      width: 100%;
    }
  }
  .salePoint__top-text-wrapper:nth-of-type(2) {
    .salePoint__top-text:nth-of-type(2) {
      width: 100%;
    }
  }

  .salePoint__center-wrapper {
    width: 760px;
    margin-top: 50px;
  }

  .salePoint__center-item-wrapper {
    width: 290px;
  }
}

@media screen and (max-width: 767px) {
  .salePoint__content {
    width: 300px;
  }

  .salePoint__top-wrapper {
    margin-top: 0;
  }
  .salePoint__top-title {
    text-align: center;
  }

  .salePoint__center-wrapper {
    width: 300px;
  }
}
